body {
    background-color: black;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
  .container {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
   
  }
  .aside {
    height: 700px;
    border-radius: 10px;
    padding-left: 30px;
    padding-bottom: 15px;
    border-color: #3a3c3e;
    background: transparent;
    border: 1px solid rgb(186, 175, 175);
  }
  .aside1 {
    background-color: #3a3c3e;;
    border-radius: 5px;
    padding-right: 30px;
    float: right;
    padding-bottom: 15px;
    border: 1px solid rgb(186, 181, 181);
    height: 700px;
  }
  .img {
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(188, 183, 183);
    margin-top: 20px;
  }
  .btn {
    background-color: #868e96;
    color: #f1f3f5;
    border-radius: 5px;
    border: #4d4d4f;
    padding-left: 10px;
  }
  .line {
    width: 140px;
    align-items: center;
    border-bottom: 1px solid #868e96;
  }
  .line1 {
    width: 50px;
    align-items: center;
    border-bottom: 5px solid #fcc419;
    margin-left: 35px;
    border-radius: 2px;
  }
  .about {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 18px;
  }
  
  .about:hover {
    color: #fcc419;
    border: 2px solid #fcc419;
    border-radius: 2px;
    

  
  }
  .info {
    color: white;
   line-height: 5px;
   
   }
   .info .fa-envelope{
    border: 1px solid rgb(188, 183, 183);
    border-radius: 10px;
    border-radius: 5px;
    padding: 5px;
    border-color: #4c4d4e;

   }
  .phone {
    color: white;
    line-height: 3px;
  }
  .fa-mobile-screen-button {
    border: 1px solid rgb(188, 183, 183);
    border-radius: 10px;
    border-radius: 5px;
    padding: 5px;
    border-color: #4c4d4e;

  }
  .birthday {
    color: white;
    line-height: 3px;
  }
  .fa-calendar-days {
    border: 1px solid rgb(188, 183, 183);
    border-radius: 10px;
    border-radius: 5px;
    padding: 5px;
    border-color: #4c4d4e;
  }
  .location {
    color: white;
    line-height: 14px;
  }
  .fa-location-dot {
    border: 1px solid rgb(188, 183, 183);
    border-radius: 10px;
    border-radius: 5px;
    padding: 5px;
    border-color: #4c4d4e;

  }
  .bottom {
    align-items: center;
  }
  .head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #495057;
    width: 550px;
    font-size: 15px;
    border-bottom: 1px solid white;
    height: 45px;
    color: white;
    cursor: pointer;
    align-items: center;
    float: right;
    margin-right: -29px;
    border-radius: 15px;
  
  }
  h2 {
    padding-top: 50px;
    padding-left: 30px;
  }
  .para {
    padding-inline-start: 40px;
  }
  .container-2 {
    display: grid;
    background-color: #343a40;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 50px;
    grid-gap: 20px;
   

   
  }
  .icon {
    display: flex;
    background: #535556;
    flex-direction: row;
    gap: 30px;
    border-radius: 5px;
    border-radius: 10px;
    border: 1px solid rgb(186, 181, 181);
    
  }
  
  .grid-bio-item {
    display: flex;
    background: #495057;
    flex-direction: column;
    gap: 30px;
    border-radius: 5px;
    margin-left: 0;
   
  }
  .icon:hover {
    transform: scale(1.1);
  }
  .Feature {
    width: 100%;
  }
  .about {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 18px;
  }
  .about:hover {
    color: #fcc419;
  }
  .camera {
    height: 50px;
    width: 50px;
    color: #fcc419;
    border-radius: 10px;
    border: 1px solid rgb(186, 181, 181);
  }
  .phone1 {
    height: 50px;
    width: 50px;
    color: #fcc419;
    border-radius: 10px;
    border: 1px solid rgb(186, 181, 181);
  }
  .fa-laptop-code {
    color: #fcc419;
    font-size: 30px;
    border-radius: 10px;
    border: 1px solid rgb(186, 181, 181);
  }

  .design {
    color: #fcc419;
    height: 50px;
    width: 50px;
    padding-top: 17px;
    padding-left: 7px;
    align-items: center;
   
  }

  